target
/classes
/checkouts
/pom.xml
/lib/
/classes/
/targets/
.lein-deps-sum
pom.xml.asc
*.class
/.lein-*
/.nrepl-port
/jta26/doc/source/
*.log*
/jta26/jni/linux/libjtapty.so
/*.ttyrec
video
notes
*.lo
*.ttyrec
.classpath
