{
 :javabot "bothack.javabots.simplebot.SimpleBot"
 :interface :ssh
 :menubot "bothack.bots.dgl-menu"
 :host "nethack.xd.cm"
 :port 22
 :ssh-user "nethack"
 :ssh-pass ""
 :dgl-login "quitbot"
 :dgl-pass "tops3cr3t"
 :ttyrec true
}
