{
 :bot "bothack.javabots.simplebot.SimpleBot"
 :interface :ssh
 :menubot "bothack.bots.dgl-menu"
 :host "acehack.de"
 :port 22
 :ssh-user "acehack"
 :ssh-pass ""
 :dgl-login "quitbot"
 :dgl-pass "tops3cr3t"
 :ttyrec true
}
