{
 :bot "anbf.bots.mainbot"
 :interface :ssh
 :menubot "anbf.bots.dgl-menu"
 :host "acehack.de"
 :port 22
 :ssh-user "acehack"
 :ssh-pass ""
 :dgl-login "dumbbot"
 :dgl-pass "tops3cr3t"
 :ttyrec true
 :no-exit true
}
