{
 :bot "bothack.bots.mainbot"
 :interface :ssh
 :menubot "bothack.bots.dgl-menu"
 :host "nethack.xd.cm"
 :port 22
 :ssh-user "nethack"
 :ssh-pass ""
 :dgl-login "dumbbot"
 :dgl-pass "tops3cr3t"
 :ttyrec true
 :no-exit false
 :quit-resumed true
}
